/* Fuentes externas */
@import url("https://fonts.google.com/share?selection.family=Faustina:ital,wght@0,300..800;1,300..800|Karla:ital,wght@0,200..800;1,200..800");

/* Fuentes locales */
@font-face {
  font-family: 'Vendura';
  src: url('/fonts/Vendura.otf') format('opentype');
  font-weight: 100 900;
  font-display: swap;
}
/* Importaciones de Tailwind */
@import "tailwindcss";
@import "tw-animate-css";

/* Variables de tema personalizadas */
@theme {
/* Colores */
--color-black-opacity-50: #10101080;
--color-black: #101010;
--color-black-2: #535353;
--color-black-1:#7D7D7D;
--color-medium: #A6A6A6;
--color-white-1: #E7E7E7;
--color-white-2: #F5F7F8;
--color-white: #FFFFFF;
--color-error:#E74C3C;
--color-error-1:#C0392B;
--color-warning:#F3CB26;
--color-success:#1ABC9C;
--color-main-3:#B65800;
--color-main-2:#D16500;
--color-main-1:#E97407;
--color-main:#FA8D28;
--color-main-1plus:#FF9E44;
--color-main-2plus:#FFBD81;
--color-main-3plus:#FFDCBD;
--color-opacity:#101010

/* Sombras */
--shadow-sidebar:1px 0px 2px 0px #00000040;
--shadow-optionsmodal:0px -1px 1px 0px #00000040;

--shadow-medium: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
--shadow-full: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
--shadow-medium-dark: 0px -4px 4px 0px rgba(250, 141, 40, 0.5);
--shadow-full-dark: 0px 4px 4px 0px rgba(250, 141, 40, 0.5);
--shadow-sidebar-dark: 4px 0px 4px 0px rgba(250, 141, 40, 0.5);
--shadow-doc-options: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

/* Bordes */
--radius-5xl: 6rem;
--radius-sidebar:12px;

/* Tipografías */
--font-vendura: "Vendura", sans-serif;
--font-karla: "Karla", sans-serif;
--font-faustina: "Faustina", sans-serif;
}

/* Variantes personalizadas */
@custom-variant dark (&:where(.dark, .dark *));

