/* Fuentes externas */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap");

/* Fuentes locales */
@font-face {
  font-family: 'Vendura';
  src: url('/fonts/Vendura.otf') format('opentype');
  font-weight: 100 900;
  font-display: swap;
}
/* Importaciones de Tailwind */
@import "tailwindcss";
@import "tw-animate-css";

/* Variables de tema personalizadas */
@theme {
/* Colores */
--color-black-0: #000000;
--color-black-1: #171717;
--color-background: #202120;
--color-black-05: rgba(0, 0, 0, 0.05);
--color-black-15: rgba(0, 0, 0, 0.15);
--color-white: #FFFFFF;
--color-gray: #F0F0F0;
--color-cream: rgb(252, 247, 242);
--color-white-10: rgba(255, 255, 255, 0.1);
--color-white-20: #FFFFFF33;
--color-green: rgba(48, 192, 173, 1);
--color-orange: #FA8D28;
--color-orange-15: rgba(250, 141, 40, 0.15);
--color-orange-20: rgba(250, 141, 40, 0.2);
--color-orange-25: rgba(250, 141, 40, 0.25);
--color-orange-50: rgba(250, 141, 40, 0.5);
--color-orange-80: rgba(250, 141, 40, 0.8);

--color-shadow: rgba(0, 0, 0, .25);
--color-shadow-dark: rgba(255, 255, 255, .25);

/* Sombras */
--shadow-medium: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
--shadow-full: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
--shadow-sidebar: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
--shadow-medium-dark: 0px -4px 4px 0px rgba(250, 141, 40, 0.5);
--shadow-full-dark: 0px 4px 4px 0px rgba(250, 141, 40, 0.5);
--shadow-sidebar-dark: 4px 0px 4px 0px rgba(250, 141, 40, 0.5);

/* Bordes */
--radius-5xl: 6rem;

/* Tipografías */
--font-vendura: "Vendura", sans-serif;
--font-bebasneue: "Bebas Neue", sans-serif;
--font-bevietnampro: "Be Vietnam Pro", sans-serif;
--font-weight-light: 300;
--font-weight-normal: 400;
}

/* Variantes personalizadas */
@custom-variant dark (&:where(.dark, .dark *));

